<table>
	<tr>
		<td>Model</td>
		<td ng-repeat="phone in selected">
			{{phone.name == "" ? "Unknown" : phone.name}}
		</td>
    </tr>
	<tr>
		<td>Availability and Networks</td>
		<td ng-repeat="phone in selected">
			<li>
			<dd ng-repeat="availability in phone.availability">{{availability == "" ? "Unkown" : availability}}</dd>
			</li>
		</td>
    </tr>
	<tr>
		<td>Battery</td>
		<td ng-repeat="phone in selected">
	      <dt>Type</dt>
		  	<dd>{{phone.battery.type == "" ? "Unknown" : phone.battery.type}}</dd>
		  <dt>Talk Time</dt>
		  	<dd>{{phone.battery.talkTime == "" ? "Unknown" : phone.battery.talkTime}}</dd>
		  <dt>Standby time (max)</dt>
		 	<dd>{{phone.battery.standbyTime == "" ? "Unknown" : phone.battery.standbyTime}}</dd>
		</td>
    </tr>
		<td>Storage and Memory</td>
		<td ng-repeat="phone in selected">
			<dt>RAM</dt>
				<dd>{{phone.storage.ram == "" ? "Unknown" : phone.storage.ram}}</dd>
			<dt>Internal Storage</dt>
				<dd>{{phone.storage.flash == "" ? "Unknown" : phone.storage.flash}}</dd>
		</td>
    </tr>
		<td>Connectivity</td>
		<td ng-repeat="phone in selected">
		  <dt>Network Support</dt>
		  	<dd>{{phone.connectivity.cell == "" ? "Unknown" : phone.connectivity.cell}}</dd>
		  <dt>WiFi</dt>
		  	<dd>{{phone.connectivity.wifi == "" ? "Unknown" : phone.connectivity.wifi}}</dd>
		  <dt>Bluetooth</dt>
		  	<dd>{{phone.connectivity.bluetooth == "" ? "Unknown" : phone.connectivity.bluetooth}}</dd>
		  <dt>Infrared</dt>
		  	<dd>{{phone.connectivity.infrared | checkmark}}</dd>
		  <dt>GPS</dt>
		  	<dd>{{phone.connectivity.gps | checkmark}}</dd>			
		</td>
    </tr>
		<td>Android</td>
		<td ng-repeat="phone in selected">
		  <dt>OS Version</dt>
		  	<dd>{{phone.android.os == "" ? "Unknown" : phone.android.os}}</dd>
		  <dt>UI</dt>
		  	<dd>{{phone.android.ui == "" ? "Unknown" : phone.android.ui}}</dd>			
		</td>
    </tr>
		<td>Size & Weight</td>
		<td ng-repeat="phone in selected">
		  <dt>Dimensions</dt>
		  	<dd ng-repeat="dim in phone.sizeAndWeight.dimensions">{{dim == "" ? "Unknown" : dim}}</dd>
		  <dt>Weight</dt>
		  	<dd>{{phone.sizeAndWeight.weight == "" ? "Unknown" : phone.sizeAndWeight.weight}}</dd>			
		</td>
    </tr>
		<td>Display</td>
		<td ng-repeat="phone in selected">
		  <dt>Screen size</dt>
		  	<dd>{{phone.display.screenSize == "" ? "Unknown" : phone.display.screenSize}}</dd>
		  <dt>Screen resolution</dt>
		  	<dd>{{phone.display.screenResolution == "" ? "Unknown" : phone.display.screenResolution}}</dd>
		  <dt>Touch screen</dt>
		  	<dd>{{phone.display.touchScreen | checkmark}}</dd>			
		</td>
    </tr>
		<td>Hardware</td>
		<td ng-repeat="phone in selected">
		  <dt>CPU</dt>
		  	<dd>{{phone.hardware.cpu == "" ? "Unknown" : phone.hardware.cpu}}</dd>
		  <dt>USB</dt>
		  	<dd>{{phone.hardware.usb == "" ? "Unknown" : phone.hardware.usb}}</dd>
		  <dt>Audio / headphone jack</dt>
		  	<dd>{{phone.hardware.audioJack == "" ? "Unknown" : phone.hardware.audioJack}}</dd>
		  <dt>FM Radio</dt>
		  	<dd>{{phone.hardware.fmRadio | checkmark}}</dd>
		  <dt>Accelerometer</dt>
		  	<dd>{{phone.hardware.accelerometer | checkmark}}</dd>			
		</td>
    </tr>
		<td>Camera</td>
		<td ng-repeat="phone in selected">
		  <dt>Primary</dt>
		  	<dd>{{phone.camera.primary == "" ? "Unknown" : phone.camera.primary}}</dd>
		  <dt>Features</dt>
		  	<dd>{{phone.camera.features.length == 0 ? "Unknown" : phone.camera.features.join(', ')}}</dd>			
		</td>
    </tr>
		<td>Additional Features</td>
		<td ng-repeat="phone in selected">
			<dd>{{phone.additionalFeatures == "" ? "Unknown" : phone.additionalFeatures}}</dd>
		</td>
    </tr>
